{% extends "main/base.html" %}

{% block title %}
PIC | {{ article.author }} | {{ article.title }}
{% endblock %}


{% block main %}
{% include 'articles/articles_header.html' %}
<article>
    <header>
        <strong>TITLE:</strong> {{ article.title }}
    </header>
    <section>
        <div>
            <strong>Main Paragraph:</strong> {{ article.main_paragraph }}
        </div>
        <div>
            <strong>Body:</strong> {{ article.body|safe }}
        </div>
        <div>
            <strong>Author:</strong> <span>{{ article.author }}</span>
        </div>
        <div>
            <strong>Last modified on:</strong> <span>{{ article.modified_on }}</span>
        </div>
    </section>
    <section>
        {% if jobs %}
        <div>
            {% for job in jobs %}
            <span>{{ job.title}}</span>
            {% endfor %}
        </div>
        {% endif %}
        <div>
            Jobs subcategory go here
        </div>
        <div>
            Jobs category go here
        </div>
    </section>
    <section>
        Tags go here
    </section>
    <section>
        Skills go here
    </section>
    <footer>
        <nav>
            Likes, views, comments, share buttons go here
        </nav>
    </footer>
</article>
<footer>
    <section>
        <span>
            <button>Previous</button>
        </span>
        <span>
            <button>Next</button>
        </span>
    </section>
</footer>
{% endblock %}