{% extends "main/base.html" %}

{% block title %}
PIC | {{ article.author }} | {{ article.title }}
{% endblock %}


{% block main %}
{% include 'articles/articles_header.html' %}
<article>
    <header>
        <strong>TITLE:</strong> {{ article.title }}
    </header>
    <section>
        <div>
            <strong>Main Paragraph:</strong> {{ article.main_paragraph }}
        </div>
        <div>
            <strong>Body:</strong> {{ article.body|safe }}
        </div>
        <div>
            <strong>Author:</strong> <span>{{ article.author }}</span>
        </div>
        <div>
            <strong>Last modified on:</strong> <span>{{ article.modified_on }}</span>
        </div>
    </section>
    <section>
        {% if jobs %}
        <span>
            <strong>Related Jobs:</strong>
        </span>
        <div>
            {% for job in jobs %}
            <button><em><a href="{{ job.get_absolute_url }}">{{ job.title}}</a></em></button>
            {% endfor %}
        </div>
        {% endif %}

        {% if job_subcategories %}
        <span>
            <strong>Related Jobs subcategories:</strong>
        </span>
        <div>
            {% for subcategory in job_subcategories %}
            <button><em><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name}}</a></em></button>
            {% endfor %}
        </div>
        {% endif %}

        {% if job_categories %}
        <span>
            <strong>Related Job Categories:</strong>
        </span>
        <div>
            {% for category in job_categories %}
            <button><em><a href="{{ category.get_absolute_url }}">{{ category.name}}</a></em></button>
            {% endfor %}
        </div>
        {% endif %}

    </section>

    <section>
        {% if skills %}
        <span>
            <strong>Related Skills:</strong>
        </span>
        <div>
            {% for skill in skills %}
            <button><em><a href="{{ skill.get_absolute_url }}">{{ skill.name}}</a></em></button>
            {% endfor %}
        </div>
        {% endif %}
    </section>

    <section>
        {% if tags %}
        <span>
            <strong>Related tags:</strong>
        </span>
        <div>
            {% for tag in tags %}
            <button><em><a href="{{ tag.get_absolute_url }}">{{ tag.name}}</a></em></button>
            {% endfor %}
        </div>
        {% endif %}
    </section>
    <footer>
        <span>
            {{ article.likes.all|length }}
            {% if request.user.is_authenticated %}
                <a href="{% url 'like-unlike-article' article.group article.slug %}">
                    {% if request.user in article.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    Like
                </a>
            {% endif %}
        </span>
        <span>
            {{ article.views }} views
        </span>
        comments, share buttons go here
        <nav>
        </nav>
    </footer>
</article>
<footer>
    <section>
        <span>
            <button>Previous</button>
        </span>
        <span>
            <button>Next</button>
        </span>
    </section>
</footer>
{% endblock %}