{% extends "main/base.html" %}

{% block title %}
PIC | Member login
{% endblock %}


{% block main %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
{% endblock %}